body
{
    background-size: cover;
    background-position: center;
    font-family:sans-serif; 
    font-size: 100%;
    font-weight: 100%;
    margin: 30px 0px 30px 0px;  
    padding:  10px 10px 10px 10px;
    float: center;
}
h2
{
    font-size:1.5em;
    color:#525252;
}
/* .box
{
    background:white;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid; 
} */
  
input[type=text], 
    input[type=password] 
    
    { 
        width: 100%; 
        padding: 12px 20px;                                    
         margin: 8px 0px;  
        display: inline-block; 
        border: 1px solid #ccc; 
        box-sizing: border-box; 
        font-size:1em;
        
    } 

    
button 
{
        background-color: #4CAF50; 
        color: white; 
        padding: 15px 20px; 
        margin: 8px ; 
        border: none; 
        cursor: pointer; 
        width: 100%; 
}
.cancelbtn 
{ 
        width: auto; 
        padding: 10px 18px; 
        background-color: #f44336; 
}
    .registerbtn {
        padding: 15px 20px;
        background-color: #141953de;
      }
    span.psw 
    {
        float: right;
        padding-top: 10px;
    }
    .registerbtn, .loginbtn 
    {
        float: center;
        width: 50%;
    }
    .clearfix::after 
    {
        /* content: ""; */
        clear: both;
        display: table;
    }
    .container
    {
        background-color:#f1f1f1;
    }
    .terms
    {
        color:dodgerblue;
    }


    